<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManagerContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManagerContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManagerContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILeaderboardManagerContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileManagerContract">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8140/BoggleServices/UserManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManagerContract"
                contract="BoggleServices.IUserManagerContract" name="NetTcpBinding_IUserManagerContract">
                <identity>
                    <userPrincipalName value="ESCRITORIO-FALA\alex_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8140/BoggleServices/GameManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameManagerContract"
                contract="BoggleServices.IGameManagerContract" name="NetTcpBinding_IGameManagerContract">
                <identity>
                    <userPrincipalName value="ESCRITORIO-FALA\alex_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8140/BoggleServices/LobbyManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManagerContract"
                contract="BoggleServices.ILobbyManagerContract" name="NetTcpBinding_ILobbyManagerContract">
                <identity>
                    <userPrincipalName value="ESCRITORIO-FALA\alex_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8140/BoggleServices/LeaderboardManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeaderboardManagerContract"
                contract="BoggleServices.ILeaderboardManagerContract" name="NetTcpBinding_ILeaderboardManagerContract">
                <identity>
                    <userPrincipalName value="ESCRITORIO-FALA\alex_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8140/BoggleServices/ProfileManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileManagerContract"
                contract="BoggleServices.IProfileManagerContract" name="NetTcpBinding_IProfileManagerContract">
                <identity>
                    <userPrincipalName value="ESCRITORIO-FALA\alex_" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>